p {
  font-family: Lato;
}

.navbar {
  list-style: none;
  height: 80px;
  background-color: yellowgreen;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.nav-items {
  display: inline;
  margin: 20px;
  cursor: default;
  font-size: 1.2em;
  font-weight: 700;
}
.nav-items a {
  text-decoration: none;
  color: Black;
}
